<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @colaborador.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @colaborador.sexo %>
</p>

<p>
  <strong>Dt nascimento:</strong>
  <%= @colaborador.dt_nascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @colaborador.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @colaborador.rg %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @colaborador.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @colaborador.numero %>
</p>

<p>
  <strong>Compl:</strong>
  <%= @colaborador.compl %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @colaborador.cep %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @colaborador.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @colaborador.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @colaborador.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @colaborador.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @colaborador.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @colaborador.email %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @colaborador.foto %>
</p>

<p>
  <strong>Dt inicio:</strong>
  <%= @colaborador.dt_inicio %>
</p>

<p>
  <strong>Dt:</strong>
  <%= @colaborador.dt_saida %>
</p>

<%= link_to 'Edit', edit_colaborador_path(@colaborador) %> |
<%= link_to 'Back', colaboradores_path %>
