<h2>Exibir Colaborador</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @colaborador.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @colaborador.sexo %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @colaborador.dt_nascimento.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @colaborador.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @colaborador.rg %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @colaborador.cargo.nome %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @colaborador.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @colaborador.numero %>
</p>

<p>
  <strong>Compl:</strong>
  <%= @colaborador.compl %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @colaborador.cep %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @colaborador.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @colaborador.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @colaborador.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @colaborador.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @colaborador.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @colaborador.email %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @colaborador.foto %>
</p>

<p>
  <strong>Data de Inicio:</strong>
  <%= @colaborador.dt_inicio.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Data de Saída:</strong>
  <% if @colaborador.dt_saida %>
    <%= @colaborador.dt_saida.strftime('%d/%m/%Y') %>
  <% end %>
</p>

<%= link_to 'Editar', edit_colaborador_path(@colaborador) %> |
<%= link_to 'voltar', colaboradores_path %>
